* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 150%;
  overflow-y: scroll;
}

html,
button,
input,
select,
textarea {
  color: #000000;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

body {
  margin: 0;
  background: ##d7d7d7;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media all and (min-width: 40em) {
  body {
    background-size: auto, 100% 100%, auto;
  }
}

@media all and (min-width: 45em) {
  h1 {
    font-size: 3rem;
    letter-spacing: -0.0833333333rem;
  }
}

@media all and (max-width: 45em) {
  p {
    line-height: 1.5rem;
  }
}

@media all and (min-width: 64em) {
  h1 {
    font-size: 3.5rem;
    letter-spacing: -0.125rem;
  }

  .subtitle {
    font-size: 2.5rem;
    letter-spacing: -0.0833333333rem;
  }
}

@media all and (min-width: 73.75em) {
  h1 {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 3rem;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover,
a:focus,
a:active {
  color: #ffffff;
  outline: none;
}

.text-link {
  color: #4c3d6d;
  display: inline-block;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.text-link:before,
.text-link:after {
  bottom: 5%;
  content: "";
  position: absolute;
  top: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.text-link:before {
  width: 46%;
  background: #7fff72;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.text-link:after {
  background: #ff9737;
  left: 46%;
  width: 54%;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.text-link:hover,
.text-link:focus {
  color: #ffffff;
  outline: none;
}

.text-link:hover:before,
.text-link:focus:before {
  background: #00ceff;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.text-link:hover:after,
.text-link:focus:after {
  background: #00ceff;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.text-link:active {
  color: #ffffff;
  outline: none;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.text-link:active:before,
.text-link:active:after {
  width: 35%;
}

.text-link:active:before {
  left: 15%;
}

.text-link-dark {
  color: #ffffff;
}

.text-link-dark:before {
  background: #4c3d6d;
}

.text-link-dark:after {
  background: #71e2a6;
}

.text-link-dark:hover,
.text-link-dark:focus {
  color: #4c3d6d;
}

.text-link-dark:hover:before,
.text-link-dark:focus:before {
  background: #e9b921;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.text-link-dark:hover:after,
.text-link-dark:focus:after {
  background: #e9b921;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.text-link-dark:active {
  color: #4c3d6d;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 2.6666666667rem);
  padding: 0.5rem;
}

@media all and (max-width: 45em) {
  .wrapper {
    text-align: center;
  }
}

@media all and (min-width: 45em) {
  .wrapper {
    min-height: calc(100vh - 5.3333333333rem);
  }
}

.grid-wrap {
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 auto;
  max-width: 1040px;
  width: 100%;
}

.grid {
  width: 100%;
}

@media all and (min-width: 45em) {
  .grid {
    padding: 0 0.6666666667rem;
  }
}

.grid__col {
  display: block;
  width: 100%;
}

@media all and (min-width: 40em) {
  .grid__col--half {
    display: inline-block;
    padding-right: 0.3333333333rem;
    vertical-align: top;
    width: 50%;
  }

  .grid__col--half + .grid__col--half {
    padding-left: 0.3333333333rem;
    padding-right: 0;
  }
}

@media all and (min-width: 40em) {
  .grid__col--one-third {
    display: inline-block;
    vertical-align: middle;
    width: 33.3333333333%;
  }
}

@media all and (min-width: 40em) {
  .grid__col--two-thirds {
    display: inline-block;
    padding-right: 0.6666666667rem;
    vertical-align: middle;
    width: 66.6666666667%;
  }
}

@media all and (min-width: 40em) {
  .grid--top .grid__col--one-third,
  .grid--top .grid__col--two-thirds {
    vertical-align: top;
  }
}

@media all and (min-width: 40em) {
  .grid--top .grid__col--one-third + .grid__col--two-thirds {
    padding-left: 0.6666666667rem;
    padding-right: 0;
  }
}

.align-right {
  text-align: right;
}

.button-wrap {
  bottom: 0.4166666667rem;
  left: 0.4166666667rem;
  position: fixed;
  right: 0.4166666667rem;
  z-index: 11;
}

@media all and (min-width: 45em) {
  .button-wrap {
    bottom: auto;
    display: inline-block;
    /* font-size:0.8333333333rem; */
    left: auto;
    position: relative;
  }
}

@media all and (min-width: 60em) {
  .button-wrap {
    /* font-size:1rem; */
  }
}

.button-sheen {
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.button-sheen:before,
.button-sheen:after {
  background: #ffffff;
  /* content:''; */
  height: 60%;
  /* left:45%; */
  /* opacity:0.4; */
  position: absolute;
  top: -60%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0.1666666667rem;
  z-index: 2;
}

.button-sheen:after {
  left: 50%;
}

.button-sheen:hover:before,
.button-sheen:hover:after,
.button-sheen:focus:before,
.button-sheen:focus:after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(45deg) translateY(400%);
  transform: rotate(45deg) translateY(400%);
}

.button-sheen:hover:after,
.button-sheen:focus:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.button-sheen:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.button {
  background-size: 200% 100%;
  display: block;
  font-size: 0.8333333333rem;
  padding: 0.1666666667rem;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  z-index: 1;
}

.button:hover,
.button:focus {
  background-position: 100%;
}

@media all and (min-width: 45em) {
  .button {
    display: block;
    width: auto;
  }
}

.button__inner {
  background-image: linear-gradient(
    135deg,
    #7fff72,
    #27fca4,
    #00f5ce,
    #00eceb,
    #00e0f9,
    #00dceb,
    #00d8dc,
    #00d3cc,
    #52d097,
    #90c65e,
    #cab433,
    #ff9737
  );
  background-repeat: repeat;
  background-size: 200% 100%;
  display: block;
  padding: 0.5416666667rem 0.8333333333rem;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media all and (min-width: 45em) {
  .button__inner {
    padding: 1.2083333333rem 1.3333333333rem;
  }
}

@media all and (min-width: 66.25em) {
  .button__inner {
    padding: 0.5416666667rem 1.3333333333rem 0.5416666667rem 0.8333333333rem;
  }
}

.button:hover .button__inner,
.button:focus .button__inner {
  background-position: 100% 0;
}

.button__image {
  display: inline-block;
  vertical-align: middle;
  width: 1.3333333333rem;
}

.button__text {
  display: inline-block;
  padding-left: 0.6666666667rem;
  vertical-align: middle;
}

@media all and (min-width: 45em) {
  .button__image {
    display: none;
    width: 2.6666666667rem;
  }

  .button__text {
    padding-left: 0;
  }
}

@media all and (min-width: 66.25em) {
  .button__image {
    display: inline-block;
  }

  .button__text {
    padding-left: 0.6666666667rem;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  padding-bottom: 2.6666666667rem;
  width: 100%;
}

.colophon {
  -ms-grid-row-align: center;
  align-self: center;
  flex: 1;
  padding-top: 0.6666666667rem;
  text-align: left;
}

@media all and (max-width: 45em) {
  .colophon {
    text-align: center;
  }
}

.colophon__link {
  color: #4c3d6d;
  display: block;
  padding: 0 0 0.6666666667rem;
  width: 100%;
}

.colophon__link:last-child {
  padding-bottom: 0;
}

@media all and (min-width: 40em) {
  .colophon__link {
    display: inline-block;
    min-width: 15%;
    padding: 0 0.6666666667rem;
    width: auto;
  }
}

.colophon__text {
  display: inline-block;
  font-size: 0.6666666667rem;
  padding-left: 0.3333333333rem;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
}

@media all and (min-width: 40em) {
  .colophon__text {
    font-size: 0.8333333333rem;
  }
}

@media all and (min-width: 60em) {
  .colophon__text {
    font-size: 1rem;
  }
}

.colophon__text:before,
.colophon__text:after {
  bottom: 5%;
  content: "";
  position: absolute;
  top: 5%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 47%;
  z-index: -1;
}

.colophon__text:before {
  background: #7fff72;
  left: 5%;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.colophon__text:after {
  background: #ff9737;
  left: 52%;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

.colophon__text:hover:before,
.colophon__text:focus:before {
  background: #00ceff;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.colophon__text:hover:after,
.colophon__text:focus:after {
  background: #00ceff;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.colophon__link:hover,
.colophon__link:focus {
  color: #ffffff;
  outline: none;
}

.colophon__link:active {
  color: #ffffff;
  outline: none;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.colophon__link:active .colophon__text:before,
.colophon__link:active .colophon__text:after {
  width: 35%;
}

.colophon__link:active .colophon__text:before {
  left: 15%;
}

.colophon__link:hover .colophon__image,
.colophon__link:focus .colophon__image {
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}

@media all and (min-width: 40em) {
  .colophon__image {
    display: block;
    margin: 0 auto 0.6666666667rem;
  }
}

@media all and (min-width: 45em) {
  .footer {
    padding-bottom: 0;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
  }
}

@media all and (min-width: 60em) {
  .colophon {
  }
}

.code {
  font-size: 20px;
  line-height: 28px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: underline;
}

.typing-text {
  display: inline-block;
  font-size: 24px;
  font-family: monospace;
  position: relative;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 100%;
  margin-left: 4px;
  background-color: #000;
  animation: blink 1s infinite;
  position: absolute;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
