$bg-color: #ffffff;
$typewriteSpeed: 2s;
$typeWriterCharacters: 26;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
}


.container{
  width: 100%;
}

.hero-box{
 
}

.my-photo {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.name1{
    font-size: 63px;
    width: fit-content;
    height: fit-content;
}
.name2{
    font-size: 63px;
    width: fit-content;
    height: fit-content;
}
.hero-des{
  text-align: center;
  font-size: 40px;
}

.name1 {
  margin: 1em;
  //outline: 2px solid red;
  position: relative;
  width: max-content;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:before {
    background: $bg-color;
    animation: typewriter $typewriteSpeed steps($typeWriterCharacters) 1s
      forwards;
  }
  &:after {
    width: 0.25rem;
    background: red;
    animation: typewriter $typewriteSpeed steps($typeWriterCharacters) 1s
        forwards,
      blink 750ms steps(26) infinite;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
